<%= form_for user do |f|%>

                  

              <div class="form-group my-3">
    <label>Prénom :</label>
    <%= f.text_field :firstname, class: 'form-control'%>
  </div>
  
  <div class="form-group my-3">
    <label>Nom :</label>
    <%= f.text_field :lastname, class: 'form-control'%>
  </div>

    <div class="form-group my-3">
    <label>Tel :</label>
    <%= f.text_field :phone, class: 'form-control'%>
    </div>    
      <%=f.submit "update"%>
      <% end %>