<div class="main-div">
  <h2><strong>Bienvenue sur ta Page de Profil :</strong></h2>
</div>

    <div class="container">
     <div class="row justify-content-center">
        <div class="col-4">
          <%= form_tag user_avatars_path(@user), multipart: true do %>
            <%= file_field_tag :avatar %>
          <%= submit_tag "OK" %>
          <% end %>
        <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, alt: 'avatar' %>
        <%end%>

        <p>Nom : <%= @user.lastname %></p>
        <p>Prénom : <%= @user.firstname %></p>
        <p>Tel: <%= @user.phone %>
        <% if @user.phone == "0600000000" %>
          <strong>TIPS</strong> : Entrez votre num de mobile pour être prévenu par SMS quand votre commande est prête.
        <% end %>
        </p>
        <p>Email : <%= @user.email %></p>
        <p>Historiques des commandes : </p>
        <ul>
          <% @user_orders.each do |order| %>
          <li>
            <p><strong>Commande n° <%= order.id %> générée le <%= order.created_at %>, montant <%= order.total_amount %> €.</strong>(code retrait <%= order.pickup_code %>)</p>
            <p><strong>Détails des produits achetés :</strong> (nécessite une modif de la DB)</p>

          </li>
          <% end %>
        </ul>

     <%= link_to 'Editer les identifiants', edit_user_registration_path(@user.id), class:"btn btn-success" %>
    </div>
   </div>
  </div>
       
</div>