<div class="row justify-content-center py-5 mt-5 mx-auto">
      <div class="col-md-6 col-xl-10">
        <div class="card">
          <div class="card-body text-center justify-content-center" id="logcard">
            <div class="mb-3">
              <div class="schedulecard">

                <div class="cardcontent">
                    <h3 class="py-3"><strong>Retrait</strong></h3>
                    <div class="container">
<% if @cart_schedule_state == false %>
  <p class="py-3">
    Vous venez de valider votre panier, choisissez un horaire de retrait avant de passer au paiement.
  </p>
  <p>
    <%= form_tag schedules_path, method: "post" do %>
      <%= datetime_local_field_tag 'date'%><br/>
      <%= submit_tag "OK", class:"btn btn-outline-success mt-3" %>
    <% end %>
  </p>
<% else %>
  <p>
    <strong><%= @search_status %></strong><br/>
    <% if @search_status == "completed"  %>
      Votre commande sera prête au plus tôt <%= @cart_to_show.cart_products.first.schedule.date.strftime("le %d/%m/%Y à partir de %Hh%M.") %>
      <br/>Munissez vous du code de retrait qui vous sera envoyé par mail une fois le règlement effectué.</p>
    <% elsif @search_status == "extra" %>
      Votre commande touche la limite de la journée, elle a été exceptionnellemnt acceptée, mais il ne sera plus possible de commander de pizzas pour aujourd'hui.<br/>
      Votre commande sera prête au plus tôt <%= @cart_to_show.cart_products.first.schedule.date.strftime("le %d/%m/%Y à partir de %Hh%M.") %>
      <br/>Munissez vous du code de retrait qui vous sera envoyé par mail une fois le règlement effectué.</p>
    <% elsif @search_status == "rejected" %>
      Votre commande dépasse nos possibilités de préparation pour ce créneau. Nous sommes au regret de ne pouvoir l'honorer.
    <% end %>
    <br/>Notre capacité de préparation est limitée à 5 pizzas toutes les 30 min.
    
<% end %>

                </div>

              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
