<p>=========================================</p>
<p>Horaire de retrait :

<% check_schedules = true %>
<% @cart_to_show.cart_products.each do |cart_product| %>
  <% if cart_product.schedule.date < Time.now %>
     <% check_schedules = false %>
  <% end %>
<% end %>

<% if check_schedules == false %>
  <p>
    choisissez un horaire de retrait avant de passer au paiement.
  </p>
  <p>
    <%= form_tag schedules_path, method: "post" do %>
      <%= datetime_local_field_tag 'date'%>
      <%= submit_tag "OK" %>
    <% end %>
  </p>
<% else %>
  <p>
    <% if @pizzas_quantity = 0 %>
      Votre commande sera prête au plus tôt <%= @cart_to_show.cart_products.first.schedule.date.strftime("le %d/%m/%Y à partir de %Hh%M.") %>
    <% elsif @pizzas_quantity = 1 %>
      Votre pizza sera prête au plus tôt <%= @cart_to_show.cart_products.first.schedule.date.strftime("le %d/%m/%Y à partir de %Hh%M.") %>
    <% else %>
      Vos <%= @pizzas_quantity %> pizzas seront prêtes au plus tôt <%= @cart_to_show.cart_products.first.schedule.date.strftime("le %d/%m/%Y à partir de %Hh%M.") %>
    <% end %>
    <br/>Munissez vous du code de retrait qui vous sera envoyé par mail une fois le règlement effectué.</p>
<% end %>
<p>=========================================</p>
