<!-- The following code is not called in this user's process.-->
<!-- But it is kept here in order to work with during the next week if the final project.-->
<h1>Orders#new</h1>
<p>Find me in app/views/orders/new.html.erb</p>

<p><strong>Le cart sélectionné est :</strong> <%= @cart_to_show %>.</p>

<p><strong>Il contient les produits suivants :</strong></p>

<ul>
  <% @cart_to_show.cart_products.each do |cart_product| %>
    <li>
      <%= cart_product.product %> : <%= cart_product.product.title %>. <strong>Prix : <%= cart_product.product.price %> €</strong>[<%= link_to "Remove", cart_product, method: :delete, class: "btn btn-outline-danger" %>]
      <%= cart_product.inspect %>

    </li>
  <% end %>

</ul>

<h1>Page de modif de panier de <%= @order_to_pay.user %> !</h1>
<%= form_tag orders_path do  %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>paiement de : <%= @order_to_pay.total_amount %> €</span>
    </label>
  </article>
  <br/>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="Achat d'un produit"
  data-amount=<%= @stripe_amount %>
  data-currency="eur"
  data-locale="auto"></script>
<% end %>