    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-10">
        <div class="card">
          <div class="card-body text-center d-flex flex-column justify-content-between" id="logcard">
            <div class="mb-3">
              <div class="cartcontent">

                <div class="insidecartcontent" id="insidecartcontent">
                  <% if @all_products.length == 0 %>
                    <p><strong>Votre panier est vide.</strong></p>
                  <%= link_to 'Retour à la carte', products_path, class: "btn btn-light mx-auto" %>

                  <% elsif @cart_schedule_state == false %>
                    <h4 class="mb-3 py-3"><strong>Votre panier contient les produits suivants :</strong></h4>
                    <div class="row mb-3">
                      <div class="col"><h5>Article</h5></div>
                      <div class="col"><h5>Prix unitaire</h5></div>
                      <div class="col"><h5>Quantité</h5></div>
                      <div class="col"></div>
                    </div>
                    <hr/>
                    <% @all_products.each do |cart_product| %>            
                      <div class="container mb-2" id="item-nber<%= cart_product.id %>">
                        <div class="row align-items-center">
                          <div class="col">
                            <h5><%= cart_product.product.title %></h5>
                            <%= image_tag cart_product.product.image_url, class: "w-75" %>
                          </div>

                          <div class="col">
                            <h5><%= cart_product.product.price %> €</h5>
                          </div>

                          <div class="col">
                            <%= link_to "+1", cart_product_path(cart_product, increment: "true"), method: :put, class: "btn btn-outline-success btn-sm", remote: true %>
                            <span class="px-3" id="qty-item-id-<%=cart_product.id%>"><%= cart_product.quantity %></span>
                            <%= link_to "-1", cart_product_path(cart_product, decrement: "true", cart_product: @cart_product), method: :put, class: "btn btn-outline-danger btn-sm", remote: true %>
                          </div>                    
                          <div class="col">
                            <%= link_to "Supprimer", cart_product, method: :delete, class: "btn btn-outline-danger btn-sm" %>                      
                          </div>  
                        </div>
                        <hr/>
                      </div>
                    <% end %>

                     
                      <div>
                        <strong>TOTAL À PAYER : </strong>
                        <span id="cart-total"><%= @total_to_pay %></span> €
                      </div>

 
                      <div class="btn-group mt-4" role="group">
                       <%= link_to 'Valider le panier', new_schedule_path, class: "btn btn-success" %>
                       <%= link_to 'Retour à la carte', products_path, class: "btn btn-light" %>
                       <%= link_to "Vider le Panier", cart_path(current_user.cart), method: :delete, class: "btn btn-danger" %>
                      </div>
              

                      <% elsif @cart_schedule_state == true %>
                        <h3 class="mt-3">
                          Après le paiement, vos produits vous attendront <br/>
                          <%= current_user.cart.cart_products.first.schedule.date.strftime("le %d/%m/%Y à partir de %Hh%M.") %>
                        </h3> 
                        
                        <div class="btn-group mt-4" role="group">
                          <%= link_to 'Payer commande', orders_path(total:@total_to_pay), method: :post, class: "btn btn-success", remote: true %><br/>
                          <button class="btn btn-light disabled">Panier validé</button><br/>                     
                          <% if @order %>
                            <%= link_to 'Annuler commande', order_path(@order.id), method: :delete, class: "btn btn-danger" %>
                          <% end %>   
                        </div>
                                
                      <% end %> 
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>