<section class="mt-5">
  <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <p class="fw-bold text-success mb-2">Résumé</p>
        <h2 class="fw-bold" id="welcometitle">Panier</h2>
      </div>
    </div>  

    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-10">
        <div class="card">
          <div class="card-body text-center d-flex flex-column justify-content-between" id="logcard">
            <div class="mb-3">
              <div class="cartcontent">

                <div class="insidecartcontent">
                  <% if @all_products.length == 0 %>
                    <p><strong>Votre panier est vide.</strong></p>

                  <% else %>
                    <p><strong>Votre panier contient les produits suivants :</strong></p>

                    <% @all_products.each do |cart_product| %>            
                      <div class="container mb-2">
                        <div class="row">
                          <div class="col">
                            <%= cart_product.product.title %>
                            <p><i>Quantité </i>= <%= cart_product.quantity %></p>
                          </div>

                          <div class="col">
                            Prix : <%= cart_product.product.price %> €
                          </div>

                          <div class="col">
                            <%= link_to "Qté +1", cart_product_path(cart_product, increment: "true"), method: :put, class: "btn btn-outline-success btn-sm", remote: true %>
                          </div>                    

                          <div class="col">
                            <%= link_to "Qté -1", cart_product_path(cart_product, decrement: "true"), method: :put, class: "btn btn-outline-danger btn-sm" %>
                          </div>

                          <div class="col">
                            <%#= link_to "Retirer du Panier", cart_product, method: :delete, class: "btn btn-outline-danger btn-sm" %> <%= cart_product.product.category.title %>                          
                          </div>

                          <div class="col">
                            <%#= link_to "Vider le Panier", cart_product, method: :delete_all, class: "btn btn-primary btn-sm" %>                           
                          </div> 

                          <hr/>
                        </div>
                      </div>
                    <% end %>

                    <div>
                      <p><strong>TOTAL À PAYER : <%= @total_to_pay %> €</strong></p>
                      <%= link_to 'Je valide mon panier', new_order_path,class: "btn btn-success" %>                 
                    </div>

                  <% end %> 
                </div>

              </div>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

