<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>



<% if @cart_to_show.cart_products.length == 0 %>
  <p><strong>Votre panier est vide.</strong></p>
  <%= link_to 'Voir catalogue', products_path, class:"btn btn-primary"%>
<% else %>

  <p><strong>Votre panier contient les produits suivants :</strong></p>

  <ol>
    <% @cart_to_show.cart_products.each do |cart_product| %>
      <li>
        <%= cart_product.product.title %>. <strong>Prix : <%= cart_product.product.price %> €</strong> [<%= link_to "Remove", cart_product, method: :delete, class: "btn btn-outline-danger" %>]
      </li>

    <% end %>
  </ol>


  <p><strong>TOTAL A PAYER : <%= @total_to_pay %> €</strong></p>

  <% if current_user.firstname == "" && current_user.lastname == "" && current_user.phone == "" %>
  <!-- Force user to update his personnal data in order do process order -->
    <p>Profil incomplet, merci de <%= link_to "compléter votre profil", edit_user_path(@current_user) %> pour finaliser votre commande :</p>
  <% else %>

    <p>Paiement Stripe V1 : désactivé</p>

    <%#= form_tag orders_path do %>
        <article>
          <%# if flash[:error].present? %>
            <div id="error_explanation">
              <p><%#= flash[:error] %></p>
            </div>
          <%# end %>
        </article>
        <br/>
        <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
        data-description="Achat d'un produit"
        data-amount=<%#= @stripe_amount %>
        data-currency="eur"
        data-locale="auto"></script> -->
    <% #end %>

    <p>Paiement Stripe V2</P>
    <%= link_to 'Payer Stripe V2', orders_path(total:@total_to_pay), method: :post, class: "btn btn-primary", remote: true %>
  
  <% end %>

<% end %>