
<br>
<br>
<br>
<br>
<br>
<br>

<div class="cartcontent">
  <div class="insidecartcontent">
    <% if @cart_to_show.cart_products.length == 0 %>

    <p><strong>Votre panier est vide.</strong></p>
    <%= link_to 'Voir catalogue', products_path, class:"btn btn-primary"%>

    <% else %>

      <p><strong>Votre panier contient les produits suivants :</strong></p>
    
      <% @cart_to_show.cart_products.each do |cart_product| %>
      
        <div class="container">
          <div class="row">
            <div class="col">
              <%= cart_product.product.title %>
              <br>
              Qté = <%= cart_product.quantity %>
            </div>

            <div class="col">
              Prix : <%= cart_product.product.price %> €
            </div>

            <div class="col">
              <%= link_to "retirer", cart_product, method: :delete, class: "btn btn-outline-danger btn-sm" %>
            </div>
          </div>
        </div>          
        
          <p>bouton qté +1 (NE FONCTIONNE PAS) : <%= link_to "+", cart_product_path(product_id:cart_product), method: :put %></p>
        
        <h3>TOTAL A PAYER : <%= @total_to_pay %> €</h3>
        <% end %>

      <% if current_user.firstname == "" && current_user.lastname == "" && current_user.phone == "" %>
      <!-- Force user to update his personnal data in order do process order -->
        <p>Profil incomplet, merci de <%= link_to "compléter votre profil", edit_user_path(@current_user.id) %> pour pouvoir finaliser votre commande :</p>

      <% else %>
        <p>Paiement Stripe V1 : désactivé</p>

        <%#= form_tag orders_path do %>
            <article>
              <%# if flash[:error].present? %>
                <div id="error_explanation">
                  <p><%#= flash[:error] %></p>
                </div>
              <%# end %>
            </article>
            <br/>
            <!-- <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%#= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Achat d'un produit"
            data-amount=<%#= @stripe_amount %>
            data-currency="eur"
            data-locale="auto"></script> -->
        <% #end %>

        <p>Paiement Stripe V2</P>
        <%= link_to 'Payer Stripe V2', orders_path(total:@total_to_pay), method: :post, class: "btn btn-primary", remote: true %>
      <% end %>
    <% end %> 

    </div>
  </div>
</div>