<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

<p><strong>Le cart sélectionné est :</strong> <%= @cart_to_show %>.</p>

<% if @cart_to_show.cart_products.length == 0 %>
  <p><strong>Votre panier est vide.</strong></p>
  <%= link_to 'Voir catalogue', products_path, class:"btn btn-primary"%>
<% else %>

  <p><strong>Il contient les produits suivants :</strong></p>

  <ul>
    <% @cart_to_show.cart_products.each do |cart_product| %>
      <li>
        <%= cart_product.product %> : <%= cart_product.product.title %>. <strong>Prix : <%= cart_product.product.price %> €</strong> [<%= link_to "Remove", cart_product, method: :delete, class: "btn btn-outline-danger" %>]
      </li>

    <% end %>
  </ul>



  <p><strong>TOTAL A PAYER : <%= @total_to_pay %> €</strong></p>

  <% if current_user.firstname == "" && current_user.lastname == "" && current_user.phone == "" %>
  <!-- Force user to update his personnal data in order do process order -->
    <p>Profil incomplet, merci de <%= link_to "compléter votre profil", edit_user_path(@current_user.id) %> pour pouvoir finaliser votre commande :</p>
  <% else %>

    <%= form_tag orders_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>
      <br/>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Achat d'un produit"
      data-amount=<%= @stripe_amount %>
      data-currency="eur"
      data-locale="auto"></script>
    <% end %>
  <% end %>

<% end %>