<div class="loader">
    <%= image_tag "loader.gif" %>
</div>
<%= render partial: 'products/hero' %>
<section>
        <div class="container">
            <div class="row" id="menurow">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold text-success mb-2">Sélection</h3>
                    <h5 class="fw-bold">Qu'allez-vous prendre aujourd'hui ?</h5>
                </div>
            </div>
            <div class="row mx-auto  mx-auto">
             <% @productssample.each do |product|  %>
                  <div class="col-sm  mx-auto"id="cardrow">
                      <div class="card border-dark text-center">
                          <div class="card-body"id="productcard">
                          <%= image_tag product.image_url, id:"cardimg"%>
                            <h5 class="card-title" id="cardtitle"><%=product.title%></h5>
                            <small id="cardcatchphrase"> <%= product.catchphrase%> </small>
                            <p id="cardprice"><%= product.price%> €</p>
                            <%= link_to 'Voir', product_path(product), class:"btn btn-outline-success", id:"cardseebtn" %>
                            <%= link_to "Ajouter au panier", cart_products_path(product_id:product),class:"btn btn-outline-success", id:"cardaddtocartbtn", type:"button", method: :post %>
                         </div>
                        </div>
                     </div>
                 <% end %>
                    <div class="col-md-8 col-xl-6 text-center mt-4 mx-auto">
                        <%= link_to 'Voir la carte', products_path, class:"btn btn-outline-light", id:"cardseebtn" %>
             </div>         
        </div>
</section>

<section>
<div class="container py-4 py-xl-5">
    <div class="row mb-5 mt-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold text-success mb-2">Avis</h3>
                    <h5 class="fw-bold">Ce que pensent nos clients.</h5>
        </div>
    </div>
    <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <div class="col">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="text-center">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus.</p>
                <div class="d-flex">
                    <div>
                        <p class="fw-bold text-primary mb-0">John Smith</p>
                    </div>
                </div>
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="text-center">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus.</p>
                <div class="d-flex">
                    <div>
                        <p class="fw-bold text-primary mb-0">John Smith</p>
                    </div>
                </div>
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <p class="text-center">Nisi sit justo faucibus nec ornare amet, tortor torquent. Blandit class dapibus.</p>
                <div class="d-flex">
                    <div>
                        <p class="fw-bold text-primary mb-0">John Smith</p>
                    </div>
                </div>
                <div class="card border-0 shadow-none">
                    <div class="card-body d-flex align-items-center p-0"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<%=javascript_include_tag 'loader' %>