<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-shrink py-3" id="mainNav" style="background: rgb(0,0,0);">
    <div class="container">
        <div class="collapse navbar-collapse" id="navcol-1">
            <a class="navbar-brand" href=<%=root_path%>><%= image_tag "logo_navbar.png", id:"navimg"%> </a>
                <ul class="navbar-nav mx-auto">
                    <%= link_to "Accueil", root_path, class:"nav-link active", id:"homebtn"%>
                    <%= link_to "L'Histoire", root_path, class:"nav-link", id:"storylink"%>
                    <%= link_to "Menu", products_path, class:"nav-link", id:"menulink"%>
                </ul>
            <% if user_signed_in? %>
                <%= link_to "Mon Profil", user_path(current_user), id:"subscribelink"%>
                <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, id:"loglink"%>
            <% else %>
                <%= link_to "S'inscrire", new_user_registration_path, id:"subscribelink"%>
                <%= link_to "Se connecter", new_user_session_path, id:"loglink"%>
            <% end %>
            <%if user_signed_in?%>
                <%= link_to "Panier", cart_path(current_user.cart), class:"btn btn-primary", role:"button", id:"cartbtn"%>
            <%else%>
                <%= link_to "Panier", new_user_session_path, class:"btn btn-primary", role:"button", id:"cartbtn"%>
            <%end%>
        </div>
    </div>
</nav>