<% if user_signed_in? %>
  <p> Vous êtes connecté : <%= current_user.email %>, votre rôle : <%= current_user.role %><br/>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p>Personne n'est connecté :<br/>
    <%= link_to 'Sign Up', new_user_registration_path %><br/>
    <%= link_to 'Sign In', new_user_session_path %>
  </p>
<% end %>