<!DOCTYPE html>
<html>
  <head>
    <title>PizzaYolo</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <div class="loader">
        <%= image_tag "loader.gif" %>
    </div>
  <%= render partial: 'layouts/navbar' %>
  <%= render partial: 'layouts/flash_message' %>
    
    <%= yield %>
     <%= render partial: 'layouts/footer' %>
  </body>
</html>
<%=javascript_include_tag 'loader' %>
